@charset "utf-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  height: 100vh;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  min-width: 350px;
  max-width: 350px;
  min-height: 535px;
  max-height: 535px;
  border: 1px solid #000;
  border-radius: 10px;
  padding: 20px;
  background-color: #000;
}

.wrap .total-panel {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  width: 100%;
  min-height: 95px;
  padding: 10px; 
  border: 1px solid #000;
  border-radius: 10px;
}

.wrap .total-panel p {
  color: #fff;
}

.wrap .total-panel .total-number{
  font-size: 40px;
}

.wrap .number-panel {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  height: calc(100% - 50px);
  margin-top: 20px;
  gap: 20px;
}

.wrap .number-panel button {
  flex: 1;
  min-width: 60px;
  max-width: 60px;
  min-height: 60px;
  max-height: 60px;
  border: 1px solid #000;
  border-radius: 50%;
  font-size: 20px;
}

.wrap .number-panel button.etc-button {
  color: #000;
  background-color: #9F9F9F;
}

.wrap .number-panel button.number-button {
  color: #fff;
  background-color: #313131;
}

.wrap .number-panel button.operator-button, .assign-button {
  color: #fff;
  background-color: #E69435;
}

.wrap .number-panel button.operator-button.active,
.wrap .number-panel button.operator-button:hover {
  background-color: #fff;
  color: #e69435;
}

.wrap .number-panel button:hover {
  background-color: #eee;
  color: #000;
}

.wrap .number-panel button:nth-of-type(17),
.wrap .number-panel button:last-of-type {
  min-width: 140px;
  max-width: 140px;
  min-height: 60px;
  max-height: 60px;
  border-radius: 10px;
}